@keyframes svelte-1yzusip-radar-pulse {
    0% {
        transform: translate(-50%, -50%) scale(.1);
        opacity: .5
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0
    }
}

@keyframes svelte-1yzusip-ping-dot {
    0% {
        opacity: 0
    }

    20%,
    60% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.animate-outer-circle.svelte-1yzusip {
    animation: svelte-1yzusip-radar-pulse 2s forwards
}

.animate-middle-circle.svelte-1yzusip {
    animation: svelte-1yzusip-radar-pulse 2s forwards;
    animation-delay: .25s
}

.animate-inner-circle.svelte-1yzusip {
    animation: svelte-1yzusip-ping-dot 2s forwards
}

.rotating-mask.svelte-1lmwwx0 {
    position: relative;
    aspect-ratio: 1 / 1;
    clip-path: url(13.173fbdf1.css#radar);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%
}

.rotating-mask.svelte-1lmwwx0:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -25%;
    right: -25%;
    bottom: -25%;
    left: -25%;
    background-image: conic-gradient(from 180deg at 50% 50%, rgba(243, 178, 12, 0) 0deg, rgba(243, 178, 12, 0) 315deg, rgba(243, 178, 12, .25) 360deg);
    animation: radar-sweep 8s linear infinite
}

.glow.svelte-j84kd5 {
    animation: svelte-j84kd5-expand-glow 4s infinite linear;
    transform-origin: center;
    opacity: 0;
    fill: #fff
}

@keyframes svelte-j84kd5-expand-glow {
    0% {
        transform: scale(0);
        opacity: .5
    }

    50% {
        transform: scale(10);
        opacity: 0
    }
}

.static-fill.svelte-87a0bx {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    clip-path: url(13.173fbdf1.css#radar-logo-d);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%
}

.static-fill.svelte-87a0bx:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: -25%;
    right: -25%;
    bottom: -25%;
    left: -25%;
    background-image: conic-gradient(from 180deg at 50% 50%, #f0b729, rgb(188, 138, 9, .8));
    transform: rotate(-135deg)
}

.rotating-mask.svelte-87a0bx {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    clip-path: url(13.173fbdf1.css#radar-logo-d);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%
}

.rotating-mask.svelte-87a0bx:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -25%;
    right: -25%;
    bottom: -25%;
    left: -25%;
    background-image: conic-gradient(from 180deg at 50% 50%, #f0b729, rgb(188, 138, 9, .8));
    animation: radar-sweep 8s linear infinite
}

@keyframes svelte-1au68nd-move-front-card-up {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-10px)
    }
}

@keyframes svelte-1au68nd-move-middle-card-up {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-5px)
    }
}

@keyframes svelte-1au68nd-move-back-card-up {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-2.5px)
    }
}

@keyframes svelte-1au68nd-move-front-card-down {
    0% {
        transform: translateY(-10px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes svelte-1au68nd-move-middle-card-down {
    0% {
        transform: translateY(-5px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes svelte-1au68nd-move-back-card-down {
    0% {
        transform: translateY(-2.5px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes svelte-1au68nd-shine {
    0% {
        opacity: 1;
        transform: translate(-100%)
    }

    to {
        opacity: 1;
        transform: translate(100%)
    }
}

.illustration-container.svelte-1au68nd.svelte-1au68nd {
    position: relative
}

.clipped-content.svelte-1au68nd.svelte-1au68nd {
    clip-path: url(13.173fbdf1.css#card-clip)
}

.shine-animation.svelte-1au68nd.svelte-1au68nd {
    position: relative;
    overflow: hidden
}

.shine-animation.svelte-1au68nd .shine.svelte-1au68nd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: svelte-1au68nd-shine 1.5s infinite;
    animation-delay: .5s
}

.shine.svelte-1au68nd.svelte-1au68nd {
    opacity: 0
}

.animate-move-front-card-up.svelte-1au68nd.svelte-1au68nd {
    animation: svelte-1au68nd-move-front-card-up .5s ease-in-out forwards
}

.animate-move-middle-card-up.svelte-1au68nd.svelte-1au68nd {
    animation: svelte-1au68nd-move-middle-card-up .5s ease-in-out forwards
}

.animate-move-back-card-up.svelte-1au68nd.svelte-1au68nd {
    animation: svelte-1au68nd-move-back-card-up .5s ease-in-out forwards
}

.animate-move-front-card-down.svelte-1au68nd.svelte-1au68nd {
    animation: svelte-1au68nd-move-front-card-down .5s ease-in-out forwards
}

.animate-move-middle-card-down.svelte-1au68nd.svelte-1au68nd {
    animation: svelte-1au68nd-move-middle-card-down .5s ease-in-out forwards
}

.animate-move-back-card-down.svelte-1au68nd.svelte-1au68nd {
    animation: svelte-1au68nd-move-back-card-down .5s ease-in-out forwards
}

@keyframes svelte-akcu2f-grow-and-fade {
    0% {
        width: 64px;
        height: 64px;
        opacity: 0
    }

    50% {
        opacity: .1
    }

    to {
        width: 320px;
        height: 320px;
        opacity: 0
    }
}

.animate-grow-and-fade.svelte-akcu2f {
    animation: svelte-akcu2f-grow-and-fade 4s linear infinite
}

.animate-grow-and-fade-with-delay.svelte-akcu2f {
    animation: svelte-akcu2f-grow-and-fade 4s linear infinite;
    animation-delay: 2s
}

@keyframes svelte-ncj1nr-paper-rotate {
    0% {
        transform: rotate(90deg)
    }

    50%,
    to {
        transform: rotate(270deg)
    }
}

@keyframes svelte-ncj1nr-paper-translate {
    0% {
        translate: 0 0
    }

    25% {
        translate: 175% -50%
    }

    50%,
    to {
        translate: 350% 0
    }
}

.animate-paper-flip.svelte-ncj1nr {
    animation: svelte-ncj1nr-paper-rotate 1.5s linear infinite, svelte-ncj1nr-paper-translate 1.5s linear infinite
}

@keyframes svelte-lvofzj-grow-and-fade {
    0% {
        width: 64px;
        height: 64px;
        opacity: 0
    }

    50% {
        opacity: .1
    }

    to {
        width: 600px;
        height: 600px;
        opacity: 0
    }
}

.animate-grow-and-fade.svelte-lvofzj {
    animation: svelte-lvofzj-grow-and-fade 6s linear infinite
}

body {
    background-color: #0a0908
}