dialog.svelte-iends9.svelte-iends9 {
    max-width: 800px;
    width: 100%;
    border: none;
    padding: 0;
    box-shadow: 0 0 16px #f2c44f;
    --tw-bg-opacity: 1;
    background-color: rgb(242 196 79 / var(--tw-bg-opacity))
}

dialog.svelte-iends9.svelte-iends9::backdrop {
    background: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)
}

dialog.svelte-iends9>div.svelte-iends9 {
    padding: .1rem
}

dialog[open].svelte-iends9.svelte-iends9 {
    animation: svelte-iends9-zoom .3s cubic-bezier(.34, 1.56, .64, 1)
}

@keyframes svelte-iends9-zoom {
    0% {
        transform: scale(.95)
    }

    to {
        transform: scale(1)
    }
}

dialog[open].svelte-iends9.svelte-iends9::backdrop {
    animation: svelte-iends9-fade .2s ease-out
}

@keyframes svelte-iends9-fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.logo-side-bar.svelte-1rm2d4j {
    position: relative
}

.logo-side-bar.svelte-1rm2d4j:before {
    --svg-mask: url("data:image/svg+xml,%3Csvg width='254' height='96' viewBox='0 0 254 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.615723V95.0657M13 0.615723V95.0657M25 0.615723V95.0657M37 0.615723V95.0657M49 0.615723V95.0657M61 0.615723V95.0657M73 0.615723V95.0657M85 0.615723V95.0657M97 0.615723V95.0657M109 0.615723V95.0657M121 0.615723V95.0657M133 0.615723V95.0657M145 0.615723V95.0657M157 0.615723V95.0657M169 0.615723V95.0657M181 0.615723V95.0657M193 0.615723V95.0657M205 0.615723V95.0657M217 0.615723V95.0657M229 0.615723V95.0657M241 0.615723V95.0657M253 0.615723V95.0657' stroke='url(%23paint0_linear_1318_2590)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1318_2590' x1='0.999998' y1='47.8407' x2='253' y2='47.8407' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2338352E' stop-opacity='0.3'/%3E%3Cstop offset='1' stop-color='%2338352E' stop-opacity='0.8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 45%, yellow 48%, yellow 52%, transparent 58%);
    background-size: 200% 100%;
    animation: svelte-1rm2d4j-moveGradient 4s linear infinite;
    mask-image: var(--svg-mask);
    mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--svg-mask);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat
}

@keyframes svelte-1rm2d4j-moveGradient {
    0% {
        background-position: 0% 0
    }

    to {
        background-position: 200% 0
    }
}